body{
    text-align: center;
    width: 100%;
}
@font-face{  font-family: "Viga";
    src: url("/Viga/Viga-Regular.ttf");}
*{
    font-family: "Viga";
}
.buttons a{
    margin: 5px;
}

#menu{
    width: auto;
    margin-bottom:100px;
}
#home,#contact,#projects{
    margin: 30px;
    padding: 0;
    border:solid 0px;
    width:auto;
}
#home{
    display: flex;
    flex-direction: column-reverse;

}
#home img{
    margin: auto;
    
}
#home{}
#projects{
    display: block;
    padding: 0;
    border-top: solid 4px white;
    /*background-color: rgb(12, 61, 102);*/
}

.flex{
    display: block;
}
#contact{
    text-align: left;
    border-top: solid 4px white;

}